* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 99vw;
}
.car {
    background-position: center;
    /* background-color: blueviolet; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    height: 400px;
    background-image: url("imgs/pic1.jpg");
    background-size:cover;
}
h2 {
    color: #333;
    margin-bottom: 10px;
}
h5 {
    color: #555;
    margin-bottom: 20px;
}
.register-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}
.register-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.register-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display:inline;
}

.register-form input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

